{% extends 'home.html' %}
{% load static %}

{% block title %}
Wybierz typ projektu
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 style="text-align: center; color: white;">Wybierz projekt do dodania: </h1>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
            <a href="{% url 'add_project' %}">
                <h2>Projekt Koła Naukowego</h2>
                <p>Dodaje projekt stworzony przez grupę z Koła Naukowego HelloIT</p>
            </a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
            <a href="{% url 'add_other_project' %}">
                <h2>Inny Projekt</h2>
                <p>Dodaje projekt stworzony poza działalnością Koła Naukowego HelloIT (GameJam'y, osobiste projekty...)</p>
            </a>
        </div>
    </div>
{% else %}
<strong style="color:#ffffff;">Nie posiadasz uprawnień aby dodawać projekty</strong>
{% endif %}
    {% endblock %}

{% block page_number %}
	{% endblock %}