{% extends 'home.html' %}
{% load static %}

{% block title %}
Super sekretny panel logowania dla ważnych ludzi!
{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1 style="text-align: center; color: white;">Wybierz działanie: </h1>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
            <a href="{% url 'register' %}">
                <h2>Rejestracja użytkownika</h2>
                <p>Rejestracja dla moderacji/zarządu koła/kogoś ważnego</p>
            </a>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
            <a href="{% url 'login' %}">
                <h2>Logowanie użytkownika</h2>
                <p>Logowanie dla moderacji/zarządu koła/kogoś ważnego</p>
            </a>
        </div>
    </div>
    {% endblock %}

{% block page_number %}
	{% endblock %}