{% extends 'home.html' %}
{% load static %}

{% block title %}
    Aktualizuj osobę: {{ people.people_name }} {{people.people_surname}}

{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'css/add_post.css' %}">
{% endblock %}
{% block information %}
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
    <div class="form-add-post col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Aktualizuj">
        </form>
    </div>
{% else %}
    <strong style="color:#ffffff;">Nie posiadasz uprawnień aby edytować osobę</strong>

{% endif %}
{% endblock %}

{% block page_number %}
{% endblock %}