@-webkit-keyframes hamburgerHide {
  0% {
    -webkit-transform: rotate(0) scale(2.5) translateY(0px);
            transform: rotate(0) scale(2.5) translateY(0px);
  }
  50% {
    -webkit-transform: rotate(90deg) scale(2.5) translateY(0px);
            transform: rotate(90deg) scale(2.5) translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-90px) scale(2.5) rotate(90deg);
            transform: translateY(-90px) scale(2.5) rotate(90deg);
  }
}

@keyframes hamburgerHide {
  0% {
    -webkit-transform: rotate(0) scale(2.5) translateY(0px);
            transform: rotate(0) scale(2.5) translateY(0px);
  }
  50% {
    -webkit-transform: rotate(90deg) scale(2.5) translateY(0px);
            transform: rotate(90deg) scale(2.5) translateY(0px);
  }
  100% {
    -webkit-transform: translateY(-90px) scale(2.5) rotate(90deg);
            transform: translateY(-90px) scale(2.5) rotate(90deg);
  }
}

@-webkit-keyframes hamburgerShow {
  0% {
    -webkit-transform: translateY(-90px) scale(2.5) rotate(90deg);
            transform: translateY(-90px) scale(2.5) rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(90deg) scale(2.5) translateY(0px);
            transform: rotate(90deg) scale(2.5) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0) scale(2.5) translateY(0px);
            transform: rotate(0) scale(2.5) translateY(0px);
  }
}

@keyframes hamburgerShow {
  0% {
    -webkit-transform: translateY(-90px) scale(2.5) rotate(90deg);
            transform: translateY(-90px) scale(2.5) rotate(90deg);
  }
  50% {
    -webkit-transform: rotate(90deg) scale(2.5) translateY(0px);
            transform: rotate(90deg) scale(2.5) translateY(0px);
  }
  100% {
    -webkit-transform: rotate(0) scale(2.5) translateY(0px);
            transform: rotate(0) scale(2.5) translateY(0px);
  }
}

@-webkit-keyframes exitShow {
  0% {
    -webkit-transform: translateY(-100px) scale(0);
            transform: translateY(-100px) scale(0);
  }
  100% {
    -webkit-transform: translateY(25px) scale(2.5);
            transform: translateY(25px) scale(2.5);
  }
}

@keyframes exitShow {
  0% {
    -webkit-transform: translateY(-100px) scale(0);
            transform: translateY(-100px) scale(0);
  }
  100% {
    -webkit-transform: translateY(25px) scale(2.5);
            transform: translateY(25px) scale(2.5);
  }
}

@-webkit-keyframes exitHide {
  0% {
    -webkit-transform: translateY(25px) scale(2.5);
            transform: translateY(25px) scale(2.5);
  }
  100% {
    -webkit-transform: translateY(-100px) scale(0);
            transform: translateY(-100px) scale(0);
  }
}

@keyframes exitHide {
  0% {
    -webkit-transform: translateY(25px) scale(2.5);
            transform: translateY(25px) scale(2.5);
  }
  100% {
    -webkit-transform: translateY(-100px) scale(0);
            transform: translateY(-100px) scale(0);
  }
}

@-webkit-keyframes showHamburgerMenu {
  0% {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes showHamburgerMenu {
  0% {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@-webkit-keyframes hideHamburgerMenu {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
}

@keyframes hideHamburgerMenu {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-800px);
            transform: translateX(-800px);
  }
}

.hamburger-hide {
  -webkit-animation: hamburgerHide 0.5s both ease-in-out;
          animation: hamburgerHide 0.5s both ease-in-out;
}

.hamburger-show {
  -webkit-animation: hamburgerShow 0.5s 0.2s both ease-in-out;
          animation: hamburgerShow 0.5s 0.2s both ease-in-out;
}

.exitShow {
  -webkit-animation: exitShow 0.5s 0.2s both ease-in-out;
          animation: exitShow 0.5s 0.2s both ease-in-out;
}

.exitHide {
  -webkit-animation: exitHide 0.5s both ease-in-out;
          animation: exitHide 0.5s both ease-in-out;
}

.showHamburgerMenu {
  -webkit-animation: showHamburgerMenu 0.5s both ease-in-out;
          animation: showHamburgerMenu 0.5s both ease-in-out;
}

.hideHamburgerMenu {
  -webkit-animation: hideHamburgerMenu 0.5s both ease-in-out;
          animation: hideHamburgerMenu 0.5s both ease-in-out;
}
/*# sourceMappingURL=animation.css.map */