
.icon-home:before { content: '\e800'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */