@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
@import "colors.scss";

* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
  }
}

//Loader
#container-loader {
  background-color: $mainColor;
  height: 100%;
  width: 100%;
  transform: translateY(-100%);

  #logo-img {
    max-width: 100px;
    min-width: 80px;
    @media screen and (max-width: 768px) {
      & {
        max-width: 70px;
        min-width: 50px;
      }
    }
    @media screen and (max-width: 600px) {
      & {
        max-width: 40px;
        min-width: 10px;
      }
    }
  }
  .logo-text {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;

    @media screen and (max-width: 768px) {
      & {
        font-size: 2rem;
      }
    }

    @media screen and (max-width: 600px) {
      & {
        font-size: 1.2rem;
      }
    }
  }
}
// Navbar
nav {
  background-color: $mainColor;
  z-index: 1;
  box-shadow: 0px 2px 8px rgb(71, 71, 71);
  img {
    max-width: 60px;
    min-width: 50px;
  }

  .nav-link {
    color: white;
    text-transform: uppercase;
    margin: 7px;
  }

  i {
    transform: scale(2.5);
  }
  #hamburger {
    transition: opacity 0.2s ease-in-out;
    &:hover {
      cursor: pointer;
      opacity: 0.5;
    }
    &-exit {
      transform: translateY(-100px);
      transition: opacity 0.2s ease-in-out;
      &:hover {
        cursor: pointer;
        opacity: 0.5;
      }
    }
  }
}

#hamburger-menu {
  background-color: $mainColor;
  height: 100vh;
  transform: translateX(-800px);
  margin-top: 85px;

  .navbar-nav {
    padding-top: 150px;
  }

  .nav-link {
    color: white;
    margin-top: 20px;
    margin-bottom: 50px;
    transition: color 0.15s ease-in-out;
    &:hover {
      color: #0d6efd;
      cursor: pointer;
    }
  }
}

//Main
main {
  .scrollUp {
    display: none;
    position: fixed;
    z-index: 2;
    right: 30px;
    bottom: 20%;
    @media screen and (max-width: 401px) {
      margin-right: 20px;
      bottom: 15%;
    }
    &:hover {
      cursor: pointer;
    }
    i {
      font-size: 3rem;
      color: #0dcdfd;
    }
  }
  //Category
  .category-main {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
    }
    .category-button {
      font-size: 1.1rem;
      font-weight: bold;
      width: 15rem;
      text-align: center;
      margin-left: 30px;
      margin-right: 30px;
      padding: 10px;
      border-radius: 10px;
      background-color: $secondaryColor;
      color: white;
      transition: transform 0.2s ease;
      &:hover {
        cursor: pointer;
        transform: translateY(10px);
      }
    }
  }
  //Posts
  #post-main {
    opacity: 0;
  }
  .card {
    width: 25rem;
    transition: transform 0.3s ease-in;
    margin-bottom: 4rem;
    margin-left: 40px;
    margin-right: 40px;
    &-title {
      border-bottom: solid black 1px;
      font-weight: bold;
    }
    &:hover {
      cursor: pointer;
      z-index: 1;
      transform: scale(1.05);
    }
    @media screen and (max-width: 480px) {
      width: 18rem;
      margin-bottom: 1rem;
      margin-left: 7px;
      margin-right: 7px;
    }
    @media screen and (min-width: 2560px) {
      width: 40rem;
    }
    .post-more-info{
      @media screen and (max-width: 480px) {
        font-size: 12px; 
      }
    }
  }

  //Pagination
  .pagination {
    border-top: solid black 2px;
    border-bottom: solid black 2px;
    .site-btn:nth-child(1) {
      transition: transform 0.2s ease-in;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
    .site-btn:nth-child(2) {
      transition: transform 0.2s ease-in;
      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
  //Post-more
  #postDetailsMore {
    opacity: 0;
  }
  .post-more {
    position: relative;
    transition: transform 0.4s ease;
    &:hover {
      cursor: pointer;
      transform: scale(1.1);
    }
    &-text {
      border-radius: 0 0 5px 5px;
      background-color: rgba(196, 196, 196, 0.8);
      position: absolute;
      bottom: -0.5px;
    }
  }
  //Projects
  .inner-project {
    position: relative;
    .project-btn-r {
      margin-top: 10px;
      z-index: 1;
      position: absolute;
      right: 0;
      top: 0;
      height: 90%;
      background: rgb(255, 255, 255);
      box-shadow: 0 0 5px 6px rgb(255, 255, 255);
      @media screen and (max-width: 767px) {
        opacity: 0;
      }
      i {
        font-size: 2.5rem;
        color: $secondaryColor;
        margin-right: 10px;
        @media screen and (max-width: 500px) {
          font-size: 1.5rem;
          margin-right: 1px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
    .project-btn-l {
      margin-top: 10px;
      z-index: 1;
      position: absolute;
      left: 0;
      top: -10px;
      height: 100%;
      background: rgb(255, 255, 255);
      box-shadow: 0 0 5px 6px rgb(255, 255, 255);
      @media screen and (max-width: 767px) {
        opacity: 0;
      }
      i {
        font-size: 2.5rem;
        color: $secondaryColor;
        transform: rotate(180deg);
        margin-left: 10px;
        @media screen and (max-width: 500px) {
          font-size: 1.5rem;
          margin-left: 5px;
        }

        &:hover {
          cursor: pointer;
        }
      }
    }
    .our-projects {
      overflow-x: auto;
      white-space: nowrap;
      &::-webkit-scrollbar {
        display: none;
      }
      img {
        width: 25rem;
        border-radius: 10px;
        transition: transform 0.5s ease;
        @media screen and (max-width: 800px) {
          width: 20rem;
        }
        @media screen and (max-width: 500px) {
          width: 13rem;
        }
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
        }
      }
    }
  }
  //Statute
  .statute-title {
    width: 35%;
    background-color: $mainColor;
    border-radius: 0 20px 20px 0;
    @media screen and (max-width: 855px) {
      width: 55%;
    }
    @media screen and (max-width: 540px) {
      width: 91%;
    }
  }
  li {
    opacity: 0;
    list-style: none;
    &::before {
      content: "";
      margin: 0;
      padding: 36px 0 36px 50px;
      list-style: none;
      background-image: url("/img/logov2.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 40px;
    }
  }
  //Contact
  #contact-title {
    background-color: $secondaryColor;
    border-radius: 20px;
  }
  form {
    .btn {
      background-color: $secondaryColor;
      border-radius: 20px;
    }
  }
  //About us
  .inner-group {
    height: 100%;
    background-color: white;
    box-shadow: 0 0 5px 6px rgb(255, 255, 255);
    i {
      font-size: 2.5rem;
      color: $secondaryColor;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .inner-group:nth-child(1) {
    z-index: 1;
    top: 0;
    right: -1.2%;
    width: 40px;
  }
  .inner-group:nth-child(2) {
    z-index: 1;
    top: 0;
    left: -2%;
    transform: rotate(180deg);
    padding-right: 3.5rem;
    width: 40px;
    @media screen and (max-width: 1200px) {
      padding-right: 2.5rem;
      width: 20px;
    }
  }
  .inner-members {
    height: 25.9rem;
    position: relative;
    overflow: hidden;
    overflow-x: auto;
    white-space: nowrap;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-in-out;
    &::-webkit-scrollbar {
      display: none;
    }
    @media screen and (max-width: 440px) {
      height: 19.5rem;
    }

    .outer-members {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      min-width: 100%;
      .member {
        width: 20rem;
        position: relative;
        @media screen and (max-width: 440px) {
          width: 15rem;
        }
        &::after {
          content: "";
          border-radius: 5px;
          top: 0;
          left: 0;
          position: absolute;
          width: 100%;
          height: 99.7%;
          background: linear-gradient(
            180deg,
            transparent 50%,
            rgba(0, 0, 0, 0.4)
          );
        }
        img {
          width: 100%;
        }
      }

      .member-text {
        z-index: 1;
        position: absolute;
        bottom: 0;
        @media screen and (max-width: 440px) {
          bottom: 15px;
        }
      }
    }
  }
  .inner-show {
    opacity: 1;
    transform: translateY(0);
  }
}

//Sponsors

.sponsor {
  max-width: 400px;
  min-width: 250px;
  @media screen and (max-width: 450px) {
    max-width: 300px;
    min-width: 200px;
  }
  @media screen and (max-width: 340px) {
    max-width: 250px;
    min-width: 140px;
  }
}

//Game Gallery
.game-gallery {
  &::-webkit-scrollbar {
    display: none;
  }

  .foto-gallery {
    width: 20rem;
    transition: transform 0.3s ease-in-out, filter 0.5s ease-in-out;
    margin-bottom: 20px;
    filter: grayscale(80%);
    &:hover {
      cursor: pointer;
      transform: scale(1.05);
      filter: grayscale(0%);
    }
  }
}

//Footer
footer {
  clear: both;
  background-color: $mainColor;
  span:nth-child(1) {
    font-size: 1.2rem;
    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
    }
    @media screen and (max-width: 400px) {
      font-size: 1rem;
    }
  }
  i {
    font-size: 2rem;
    @media screen and (max-width: 400px) {
      font-size: 1.5rem;
    }
    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }
  }
}

.foto-box {
  position: relative;
  height: 100vh;
  .foto-border {
    position: relative;
    .exit-box {
      position: absolute;
      top: 0;
      right: 5%;
    }
    i:nth-child(3) {
      position: absolute;
      top: 45%;
      left: 2%;
    }
    i:nth-child(4) {
      position: absolute;
      top: 45%;
      right: 2%;
    }
  }

  i {
    font-size: 3rem;
    color: $mainColor;
    @media screen and (max-width: 500px) {
      font-size: 1.5rem;
    }
    &:hover {
      cursor: pointer;
    }
  }

  img {
    width: 100%;
  }
}

// Keyframes Animation Hamburger, Exit

@keyframes hamburgerHide {
  0% {
    transform: rotate(0) scale(2.5) translateY(0px);
  }
  50% {
    transform: rotate(90deg) scale(2.5) translateY(0px);
  }
  100% {
    transform: translateY(-90px) scale(2.5) rotate(90deg);
  }
}

@keyframes hamburgerShow {
  0% {
    transform: translateY(-90px) scale(2.5) rotate(90deg);
  }
  50% {
    transform: rotate(90deg) scale(2.5) translateY(0px);
  }
  100% {
    transform: rotate(0) scale(2.5) translateY(0px);
  }
}

@keyframes exitShow {
  0% {
    transform: translateY(-100px) scale(0);
  }
  100% {
    transform: translateY(25px) scale(2.5);
  }
}

@keyframes exitHide {
  0% {
    transform: translateY(25px) scale(2.5);
  }
  100% {
    transform: translateY(-100px) scale(0);
  }
}

@keyframes showHamburgerMenu {
  0% {
    transform: translateX(-800px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes hideHamburgerMenu {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-800px);
  }
}

@keyframes showCategoryMenu {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes hideCategoryMenu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

// Hamburger Animation

.hamburger-hide {
  animation: hamburgerHide 0.5s both ease-in-out;
}

.hamburger-show {
  animation: hamburgerShow 0.5s 0.2s both ease-in-out;
}

.exitShow {
  animation: exitShow 0.5s 0.2s both ease-in-out;
}

.exitHide {
  animation: exitHide 0.5s both ease-in-out;
}

.showHamburgerMenu {
  animation: showHamburgerMenu 0.5s both ease-in-out;
}

.hideHamburgerMenu {
  animation: hideHamburgerMenu 0.5s both ease-in-out;
}

.showCategoryMenu {
  animation: showCategoryMenu 0.2s both ease-in-out;
}

.hideCategoryMenu {
  animation: hideCategoryMenu 0.2s both ease-in-out;
}
